{{ block "index" . }}
<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Heating Oil Tracker | Monitor and gauge your heating oil levels</title>
  <meta name="description"
    content="Effortlessly track your heating oil levels with our intuitive Heating Oil Tracker app. Stay in control of your home's warmth, ensuring you're never left in the cold. Sign up now for peace of mind!">
  <link rel="icon" type="image/x-icon" href="static/favicon.png">
  <link href="static/twcolors.min.css" rel="stylesheet">
  <link href="static/styles.css" rel="stylesheet">
  <script src="static/htmx.min.js"></script>
</head>

<body id="body">
  <nav class="nav">
    <div class="container">
      <div class="nav__content">
        <a class="nav__brand" href="/" title="Heating Oil Tracker Home">
          <span>H</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M15.362 5.214A8.252 8.252 0 0 1 12 21 8.25 8.25 0 0 1 6.038 7.047 8.287 8.287 0 0 0 9 9.601a8.983 8.983 0 0 1 3.361-6.867 8.21 8.21 0 0 0 3 2.48Z" />
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M12 18a3.75 3.75 0 0 0 .495-7.468 5.99 5.99 0 0 0-1.925 3.547 5.975 5.975 0 0 1-2.133-1.001A3.75 3.75 0 0 0 12 18Z" />
          </svg>
          <span>T</span>
        </a>
        <ul class="nav__list">
          {{ if not .User }}
          <li class="nav__item">
            <button class="nav__link" hx-get="/auth/sign-in" hx-target="body">Sign In</button>
          </li>
          {{ end }}

          {{ if .User }}
          <!-- <li class="nav__item"> -->
          <!--   <a class="nav__link" href="/dashboard" title="Dashboard">Dashboard</a> -->
          <!-- </li> -->
          <li class="nav__item">
            <button class="nav__link" hx-post="/auth/sign-out" hx-target="body">Sign Out</button>
          </li>
          {{ end }}

        </ul>
      </div>
    </div>
  </nav>
  <main>
    <div class="hero">
      <h1 class="hero__title">Heating Oil Tracker</h1>
      <p class="hero__intro">
        Stay ahead of the chill and avoid pricing hikes! Join the waitlist now for our heating oil tracker, keep your
        home cozy all year long and never run low on warmth again!
      </p>
      {{ if not .User }}
      {{ template "waitlist" .LeadForm }}
      {{ end }}
    </div>
  </main>

  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", (event) => {
      document.body.addEventListener('htmx:beforeSwap', function (evt) {
        if (evt.detail.xhr.status === 422) {
          console.log("setting status to paint");
          // allow 422 responses to swap as we are using this as a signal that
          // a form was submitted with bad data and want to rerender with the
          // errors
          //
          // set isError to false to avoid error logging in console
          evt.detail.shouldSwap = true;
          evt.detail.isError = false;
        }
      });
    });
  </script>
</body>

</html>
{{ end }}

{{ block "waitlist" . }}
<form class="waitlist-form" id="waitlist-form" hx-post="/join-waitlist" hx-swap="outerHTML">
  <div class="waitlist-form__group">
    <label class="waitlist-form__label" for="email">
      <input id="email" class="waitlist-form__input" type="text" name="email" placeholder="Please enter your email" {{
        if .Values.email}} value="{{ .Values.email }}" {{end}} autocomplete="email" required>
    </label>

    <button class="btn waitlist-form__btn" type="submit">Join Waitlist</button>
  </div>

  {{ if .Errors.email }}
  <p class="waitlist-form__message waitlist-form__message-error">
    {{ .Errors.email }}
  </p>
  {{ end }}
</form>
{{ end }}

{{ block "sign-up-form" . }}
<div class="auth-form__wrapper">
  <form class="auth-form" id="sign-up-form" hx-post="/auth/sign-up" hx-target="body">
    <p class="auth-form__title">
      <span>H</span>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M15.362 5.214A8.252 8.252 0 0 1 12 21 8.25 8.25 0 0 1 6.038 7.047 8.287 8.287 0 0 0 9 9.601a8.983 8.983 0 0 1 3.361-6.867 8.21 8.21 0 0 0 3 2.48Z" />
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M12 18a3.75 3.75 0 0 0 .495-7.468 5.99 5.99 0 0 0-1.925 3.547 5.975 5.975 0 0 1-2.133-1.001A3.75 3.75 0 0 0 12 18Z" />
      </svg>
      <span>T</span>
    </p>

    <div class="auth-form__group">
      <label class="auth-form__label" for="name">
        Name
      </label>
      <input id="name" class="auth-form__input" type="text" name="name" autocomplete="name" value="" required>
    </div>

    <div class="auth-form__group">
      <label class="auth-form__label" for="email">
        Email
      </label>
      <input id="email" class="auth-form__input" type="text" name="email" autocomplete="email" value="" required>
    </div>

    <div class="auth-form__group">
      <label class="auth-form__label" for="password">
        Password
      </label>
      <input id="password" class="auth-form__input" type="password" name="password" value="" required>
    </div>

    <button class="btn auth-form__btn" type="submit">Sign In</button>

    {{ if .Errors.email}}
    <p class="auth-form__message auth-form__message-error">
      {{ .Errors.email}}
    </p>
    {{ end }}

    <p class="auth-form__type">Already have an account? <button class="btn btn-ghost" type="button"
        hx-get="/auth/sign-in" hx-target="body">Sign In</button></p>
  </form>
</div>
{{ end }}

{{ block "sign-in-form" . }}
<div class="auth-form__wrapper">
  <form class="auth-form" id="sign-in-form" hx-post="/auth/sign-in" hx-target="body">
    <p class="auth-form__title">
      <span>H</span>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M15.362 5.214A8.252 8.252 0 0 1 12 21 8.25 8.25 0 0 1 6.038 7.047 8.287 8.287 0 0 0 9 9.601a8.983 8.983 0 0 1 3.361-6.867 8.21 8.21 0 0 0 3 2.48Z" />
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M12 18a3.75 3.75 0 0 0 .495-7.468 5.99 5.99 0 0 0-1.925 3.547 5.975 5.975 0 0 1-2.133-1.001A3.75 3.75 0 0 0 12 18Z" />
      </svg>
      <span>T</span>
    </p>
    <div class="auth-form__group">
      <label class="auth-form__label" for="email">
        Email
      </label>
      <input id="email" class="auth-form__input" type="text" name="email" autocomplete="email" value="" required>
    </div>

    <div class="auth-form__group">
      <label class="auth-form__label" for="password">
        Password
      </label>
      <input id="password" class="auth-form__input" type="password" name="password" value="" required>
    </div>

    <button class="btn auth-form__btn" type="submit">Sign In</button>

    {{ if .Errors.email}}
    <p class="auth-form__message auth-form__message-error">
      {{ .Errors.email}}
    </p>
    {{ end }}

    <p class="auth-form__type">Do you need an account? <button class="btn btn-ghost" type="button"
        hx-get="/auth/sign-up" hx-target="body">Register Now</button></p>
  </form>
</div>
{{ end }}
